@model RandomSquadCreater.UI.Models.LoginModel
@using RandomSquadCreater.UI.Controllers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Content/AdminLTE-2.4.5/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/AdminLTE-2.4.5/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Content/AdminLTE-2.4.5/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/AdminLTE-2.4.5/dist/css/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Content/AdminLTE-2.4.5/plugins/iCheck/square/blue.css">
    <link href="~/Content/toastr.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">

    <div class="login-box">
        <div class="login-logo">
            <a><b>Random Squad Creater</b> Admin Giriş</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg"></p>
            <form>
                <div class="form-group has-feedback">
                    <input type="email" name="email" id="email" @*value="@email"*@ class="form-control" placeholder="Email">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" name="password" id="password" class="form-control" placeholder="Şifre">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <input type="checkbox" name="checkbox" id="checkbox"> Beni Hatırla
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="button" id="btnlogin" name="btnlogin" class="btn btn-primary btn-block btn-flat">Giriş Yap</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            <br />
            <a href="#" data-toggle="modal" data-target="#modal-default">Şifremi Unuttum</a><br>
            <a href="Register" class="text-center">Yeni Üye Kayıt</a>
        </div>
    </div>


    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Şifre Sıfırlama İşlemleri</h4>
                </div>
                @using (Html.BeginForm())
                {
                    <div class="modal-body">
                        <div class="form-group has-feedback">
                            <input type="email" name="reemail" id="reemail" class="form-control" placeholder="Email bilginizi giriniz">
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Kapat</button>
                        <button type="button" id="btnSend" name="btnSend" class="btn btn-primary">Gönder</button>
                    </div>

                }

            </div>
        </div>
    </div>
</body>
</html>

<script src="~/Content/AdminLTE-2.4.5/bower_components/jquery/dist/jquery.min.js"></script>
<script src="~/Content/AdminLTE-2.4.5/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/Content/AdminLTE-2.4.5/plugins/iCheck/icheck.min.js"></script>
<script src="~/Scripts/toastr.min.js"></script>


<script type="text/javascript">





    $(document).ready(function () {
        $("#btnlogin").click(function () {

            var uri = 'http://localhost:64579/Home/Login';
            $.ajax({
                url: uri,
                dataType: 'json',
                contentType: 'application/json',
                processData: false,
                method: 'post',
                data: JSON.stringify({ "email": $('#email').val(), "password": $('#password').val(), "checkbox": $('#checkbox').val() }),
                success: function (data) {

                    if (data.Result == true) {
                        toastr.success("Giriş yapılıyor.");
                        setTimeout(function () {
                            window.location.href = 'http://localhost:64579/Player/PlayerList';
                        },
                            1000);
                    } else {
                        toastr.error("Giriş başarısız! Bilgilerinizi kontrol ediniz.");
                    }
                },
                error: function () {
                    toastr.error("Giriş başarısız! Bilgilerinizi kontrol ediniz.");
                }
            });


        });

        $("#btnSend").click(function () {

            var email = $('#reemail').val();

            var uri = 'http://localhost:64579/Home/ResetPassword';
            $.ajax({
                url: uri,
                dataType: 'json',
                type: 'post',
                cache: false,
                data: { "email": email },
                success: function (data) {

                    if (data.Result == true) {
                        toastr.warning("Bilgi mailiniz gönderildi. Mail kutunuzu kontrol ediniz.");
                        setTimeout(function () {
                                window.location.href = 'http://localhost:64579/Home/Login';
                            },
                            2000);
                    } else {
                        toastr.error("Mail Gönderilemedi! Bilgilerinizi kontrol ediniz.");
                    }
                },
                error: function (errorThrow) {
                    toastr.error("Mail Gönderilemedi! Bilgilerinizi kontrol ediniz. Hata: "+errorThrow);
                }
            });


        });

    });


    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' /* optional */
        });
    });
</script>




